@{
    ViewBag.Title = "Home Page";
}

<div class="header">
    <h1 class="header_1">
        Hey!
    </h1>

    <p1 class="header_2">
        Welcome in my portfolio webside
    </p1>

    <p2>
        Main page, presentation of me and my work
    </p2>
</div>

