@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/index.css")
    <title>Index</title>
</head>


    <div style="height: 500px; position: relative;">
        
            <section>
                <h1> Hello! </h1>
            </section>

            <section>
                <h1> Welcome in my portfolio </h1>
            </section>

            <section>
                <h1> Here i will present myself and my work </h1>
            </section>

            <section>
                <h1> SlIDE 1</h1>
            </section>

            <section>
                <h1> SlIDE 2</h1>
            </section>

            <section>
                <h1> SlIDE 3</h1>
            </section>
        
    </div>




